.dropdownBtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
}
  
.dropdown {
    position: relative;
    display: inline-block;
    width: 90%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdownContent .listItem {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent .listItem:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropdownBtn {
    background-color: #3e8e41;
}
